html{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}

main{
  background-color: darkgray;
  position: relative;
  width: 100%;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
}


header{
  background-color: white;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  display: inline-flex;
  position: fixed;
  z-index: 1;
  align-items: center;
}

.desktop-nav a{
  padding: 0px 1rem;
}

a {
    color: #000;
    text-decoration: none;
}

/* logo */

.logo{
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.logo img{
  margin-left: 1.5rem;
  margin-top: 2rem;
  height: 7rem;
}

/*header */

header-name{
  color: darkgrey;
  font-weight: 400;
}

.header-title{
  font-weight: bold;
  color: black;
  font-size: 32px;
}

/* header logos for mobile nav */

.mobile-nav{
  display: none;
}

.banner{
  width: 100%;
  display: flex;
  align-items: center;
}

.banner-text{
  width: 35%;
  align-items: center;
}
